.framify-container {
  margin: 3rem auto;
  width: 600px;
  position: relative;
}

.framify-element img {
  width: 600px;
}

.framify-elements-wrapper {
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.framify-buttons {
  position: absolute;
  top: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 10%;
  background-color: rgba(0, 0, 0, 0.5);
}

.framify-buttons button {
  height: 0;
  width: 10%;
  padding: 0 0 10% 0;
  border: none;
}

.framify-button-hidden {
  display: none;
}
